[dependencies.cpal]
default-features = false
version = "0.15.3"

[package]
description = "Fart poo poo audio"
edition.workspace = true
exclude = ["/doc"]
homepage = "https://github.com/AsherJingkongChen/poopoo/tree/main/poodio"
license.workspace = true
name = "poodio"
readme = "README.md"
repository.workspace = true
rust-version = "1.70"
version = "0.0.5"

[package.metadata.binstall]
pkg-fmt = "bin"
pkg-url = "{ repo }/releases/download/{ name }%40{ version }/{ name }-{ target }{ archive-suffix }"
